[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Emmanuel Hayford
	email = hi@manny.codes
[init]
	defaultBranch = main
[pull]
	rebase = true
